*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.container,
.cabecera,
.navegacion,
.seccion,
.publi,
.widget1,
.widget2,
.widget3,
.pie,
.galeria,
.galeria > div{
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
}

.container{
    width: 100%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cabecera,
.navegacion,
.seccion,
.publi,
.pie{
    grid-column: 1 / -1;
}



.widget3{
    display: none;
    /* opacity: 0; */
}

/* ========================
        768px 
   ======================= */    
@media screen and (min-width:768px) {
    .container {
        width: 90%;
        grid-template-columns: repeat(3, 1fr);
    }

    .seccion{
        grid-column: 1 / 3;
    }

    .publi{
        grid-column: 3 / -1;
        grid-row: 3 / 5;
    }
}


/* ========================
        992px 
   ======================= */    
@media screen and (min-width:992px) {
        .seccion{
        grid-column: 2 / 4;
    }

    .publi{
        grid-column: 1 / 2;
    }
}



/* ========================
        1200px 
   ======================= */    
@media screen and (min-width:1200px) {
    
    .container{
        max-width: 1300px;
    }
    
    .seccion{
        grid-column: 1/ -1;
        grid-row: 3 / 4;

    }

    .publi{
        grid-column: 1 / -1;
        grid-row: 4 / 5;
    }

    .widget3{
        display: block;
    }
}




